In [68]:
import json
from collections import Counter
import pandas as pd

In [6]:
train = []
with open("train_data.json") as file:
    for line in file:
        train.append(json.loads(line))

In [8]:
test = []
with open("test_data.json") as file:
    for line in file:
        test.append(json.loads(line))

In [108]:
# ground truth
# The last movie given by respondentWorker
cases = []
for i in range(len(train)):
    cases.append({'conversationId': train[i]['conversationId']})
    
groundtruth = {}
ind = []
k = 0
for i in range(len(train)):
    groundtruth[i] = []
    for c in train[i]['messages'][::-1]:
        if c['senderWorkerId'] == train[i]['respondentWorkerId']:
            match = re.findall(r'@[\w]+', c['text'])
            if not match:
                continue
            else: 
                groundtruth[i].append(match[0])
                break
                
grdt = []
for v in groundtruth.values():
    grdt.append(v)

In [34]:
# history
# 1. from current conversation, seen + liked
# 2. from other conversations, seen + liked
# !! may contain groundtruth
init = []
for i in range(len(train)):
    init.append(train[i]['initiatorWorkerId'])
    
history = {}
for i in range(len(train)):
    init_id = train[i]['initiatorWorkerId']
    if not train[i]['initiatorQuestions']:
        continue
    if init_id not in history.keys():
        history[init_id] = []
    for k, v in train[i]['initiatorQuestions'].items():
        if v['seen'] == 1 and v['liked'] == 1:
            history[init_id].append(k)
            
hist = []
count = 0
for i in range(len(train)):
    if train[i]['initiatorWorkerId'] in history.keys():
        hist.append(history[train[i]['initiatorWorkerId']])
    else: 
        hist.append('NA')
        count += 1

In [63]:
# query
# The first initiatorWorker's text that has more than 2 words.
query = []
for i in range(len(train)):
    init_id = train[i]['initiatorWorkerId']
    for v in train[i]['messages']:
        if v['senderWorkerId'] != init_id:
            continue
        if len(v['text']) >= 5:
            query.append(v['text'])
            break

In [69]:
# conversation id
conv = []
for i in range(len(train)):
    conv.append(train[i]['conversationId'])

In [103]:
data = {'conv_id': conv, 
        'query': query,
        'history': hist,
        'groundtruth': grdt}

In [104]:
case_train = pd.DataFrame(data)

In [105]:
case_train

,conv_id,query,history,groundtruth
0,391,"Hi there, how are you? I'm looking for movie r...","[84779, 122159, 151313, 191602]",[@203371]
1,395,"Hi, did you see @196336 ?","[170119, 170268, 182301, 194583, 129124, 14533...",[@143189]
2,397,@163606 It is a nice movie. What say?,"[147598, 204292]",[@147598]
3,405,I'm in the mood to watch a romantic comedy. W...,"[174475, 202175, 78418, 202130, 78340, 155989,...",[@157394]
4,407,Hello,"[119144, 125431, 141788, 204331, 184418, 13663...",[@119144]
...,...,...,...,...
10001,19911,Hi !! have a good day,"[127845, 170376, 204292, 85036, 155632, 204292]",[@96852]
10002,19913,Hello!,"[194157, 147934, 170376, 125118, 162429, 10751...",[@193669]
10003,19917,Just talk about any kind of movie,"[195979, 184418, 204974, 182404, 136877]",[@184418]
10004,19918,Hi! I'm looking for movie suggestions on curre...,[],[@204974]
10005,19920,Hello!,[85036],[]

In [109]:
# same for the test
# ground truth
# The last movie given by respondentWorker
cases = []
for i in range(len(test)):
    cases.append({'conversationId': test[i]['conversationId']})
    
groundtruth = {}
ind = []
k = 0
for i in range(len(test)):
    groundtruth[i] = []
    for c in test[i]['messages'][::-1]:
        if c['senderWorkerId'] == test[i]['respondentWorkerId']:
            match = re.findall(r'@[\w]+', c['text'])
            if not match:
                continue
            else: 
                groundtruth[i].append(match[0])
                break
                
grdt = []
for v in groundtruth.values():
    grdt.append(v)

In [110]:
# history
# 1. from current conversation, seen + liked
# 2. from other conversations, seen + liked
# !! may contain groundtruth
init = []
for i in range(len(test)):
    init.append(test[i]['initiatorWorkerId'])
    
history = {}
for i in range(len(test)):
    init_id = test[i]['initiatorWorkerId']
    if not test[i]['initiatorQuestions']:
        continue
    if init_id not in history.keys():
        history[init_id] = []
    for k, v in test[i]['initiatorQuestions'].items():
        if v['seen'] == 1 and v['liked'] == 1:
            history[init_id].append(k)
            
hist = []
count = 0
for i in range(len(test)):
    if test[i]['initiatorWorkerId'] in history.keys():
        hist.append(history[test[i]['initiatorWorkerId']])
    else: 
        hist.append('NA')
        count += 1

In [111]:
# query
# The first initiatorWorker's text that has more than 2 words.
query = []
for i in range(len(test)):
    init_id = test[i]['initiatorWorkerId']
    for v in test[i]['messages']:
        if v['senderWorkerId'] != init_id:
            continue
        if len(v['text']) >= 5:
            query.append(v['text'])
            break

In [112]:
# conversation id
conv = []
for i in range(len(test)):
    conv.append(test[i]['conversationId'])

In [113]:
data = {'conv_id': conv, 
        'query': query,
        'history': hist,
        'groundtruth': grdt}

In [114]:
case_test = pd.DataFrame(data)

In [115]:
case_test

,conv_id,query,history,groundtruth
0,20001,Hi I am looking for a movie like @111776,"[111776, 134643, 192131]",[@124771]
1,20041,Hello!,"[125431, 118338, 132562, 77161, 120349, 185171...",[@175203]
2,20047,@138780,"[90253, 138780, 78874, 204794, 76012, 204794, ...",[@187028]
3,20048,i would like to watch any movie,"[205163, 114756, 78418, 99896, 205163, 99583, ...",[@152789]
4,20051,Yes and i liked them,"[205163, 114756, 78418, 99896, 205163, 99583, ...",[@100821]
...,...,...,...,...
1337,23317,action movies,"[119087, 148904, 198355, 90950, 144347, 204974...",[@117907]
1338,23318,"fine, what about you","[90248, 205163, 76336, 204870]",[@90248]
1339,23319,"Hi, fine and you?","[204974, 177160, 132481, 141169, 101264, 11790...",[@117907]
1340,23320,I would like to recommend a fantasy movie,"[119087, 148904, 198355, 90950, 144347, 204974...",[@132481]
1341,23322,"I am fine, how are you?","[119087, 148904, 198355, 90950, 144347, 204974...",[@177387]

In [116]:
case_train.to_csv('case_train.csv', index=False)
case_test.to_csv('case_test.csv', index=False)